.backOffice{
    display: flex;
    flex-direction: row;
}

.category{
    padding: 2rem;
    margin: 1.5rem;
    width: 20rem;
    height: 85vh;
    background-color: #38015c;
}
 .tableData{
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
 }
 
 .tableData table{
    margin-left: auto;
    margin-right: auto;
 }

 .tableData td{
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 05px 10px;
 }
